body{
	/*background-color: #aaa;*/
}
.active {
	cursor: default;
}
.panel {
	padding: 0.55rem;
}
.panel.callout {
	margin-bottom: 0.45rem;
	margin-top: 0.45rem;
	background-color: rgb(203,219,225);
}
.panel.callout:hover {
	background-color: rgb(203,219,225);
}
#map {
	height: 500px;
	/*border: 2px solid #aaa;*/
}

#info {
/*	height: 500px;*/
}

#search-form form {
	height: 482px;
}

.tweet-container {
	/*border-bottom: 2px solid #444;*/
	cursor: pointer;
	display: none;
}
.tweet-container:hover {
	background-color: rgb(233,249,255);
	border-color: rgb(175,234,255);
}
.user-icon {
	border-radius: 15%;
}

/* need to have a container position
relative to get the position of tweets from*/
#tweets-container {
	position: relative;
}
#tweet-feed {
	height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-style: solid;
	border-width: 1px;
	border-color: #d8d8d8;
	background: #f2f2f2;
}
.search-info {
	font-size: .75rem;
}
.tweet-text {
	font-size: .75rem;
}