<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>gLuT</title>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/css/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/css/foundation.min.css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">globally <u>L</u>ook<u>u</u>p <u>T</u>weets : gLuT</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
    	<li class="has-form">
			  <a href="#" class="button">Login with Twitter</a>
			</li>
      <li class="has-dropdown">
        <a href="#">Information</a>
        <ul class="dropdown">
          <li><a href="#">About Me</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li class="active"><a href="#" id="search-tweets">Search</a></li>
      <li><a href="#" id="view-tweets">GeoTweets</a></li>
      <li><a href="#" id="view-regular-tweets">Tweets</a></li>
    </ul>
  </section>
</nav>

	<div class="row">
		<div class="small-12 medium-6 columns" id="info">
			<div class="row">
				<div class="small-12 columns hide" id="tweet-feed">
					<div id="tweets-container"></div>
				</div>
				<div class="small-12 columns panel" id="search-form">
					<form action="" method="POST" role="form">
						<div class="row">
							<div class="small-12 columns text-center"><h5>Add Location and Query then Submit!</h5></div>
						</div>
							<div class="row">
						    <div class="small-6 columns">
						      <div class="row collapse">
						        <div class="small-3 columns">
						          <span class="prefix">Lat:</span>
						        </div>
						        <div class="small-9 columns">
							          <input type="text" id="lat" name="lat" placeholder="Latitude">
						        </div>
						      </div>
						    </div>
						    <div class="small-6 columns">
						      <div class="row collapse">
						        <div class="small-3 columns">
						          <span class="prefix">Long:</span>
						        </div>
						        <div class="small-9 columns">
							          <input type="text" id="long" name="long" placeholder="Longitude">
						        </div>
						      </div>
						    </div>
						  </div>
						  <div class="row">
						    <div class="small-6 columns">
						    	<div class="row">
						    		<div class="small-8 columns">
								    	<div class="row collapse">
								        <div class="small-6 columns">
								          <span class="prefix">Radius:</span>
								        </div>
								        <div class="small-6 columns">
									          <input type="text" id="radius" name="radius" placeholder="Dist">
								        </div>
								      </div>
						      	</div>
						      	<div class="small-4 columns">
							        <select id="radius-in" name="radius-in">
						          	<option value="mi">Mi</option>
						          	<option value="km">Km</option>
						        	</select>
				    				</div>
						    	</div>
						    </div>
				    		<div class="small-6 columns">
				    			<div class="row">
				    				<div class="small-4 columns">
				    					<label for="right-label" class="right inline">Test City</label>
			    					</div>
			    					<div class="small-8 columns">
			    						<select name="testCity">
							          <option value="denver">Denver</option>
							          <option value="newyork">New York</option>
							          <option value="paris">Paris</option>
						        	</select>
					        	</div>
				    			</div>
					    	</div>
				    	</div>

					  	<div class="row">
					  		<div class="small-12 columns">
					  			<div class="row">
						  			<div class="large-12 columns">
								      <label>Search Query
								        <input type="text" name="searchQuery" placeholder="@billgates" />
								      </label>
								    </div>
							    </div>
							    <div class="row">
						  			<div class="large-12 columns">
								      <p class="search-info">A UTF-8, URL-encoded search query of 1,000 characters maximum, including operators. Queries may additionally be limited by complexity.Example: @noradio.</p>
								    </div>
							    </div>
					  		</div>
					  	</div>
					  <div class="row">
						  	<div class="small-12 small-centered columns text-center">
						  		<button type="submit" class="small button" id="search-twitter">Submit</button>
					  		</div>
					  </div>

					</form>
				</div>
			</div>

		</div>
		<div class="small-12 medium-6 columns">
			<div class="row">
				<div class="small-12 columns" id="map"></div>
			</div>
		</div>
	</div>



<div class="row tweet-container panel radius" data-tweet-id="" id="tweet-container">
	<div class="small-2 columns">
		<img class="user-icon" src="">
	</div>
	<div class="small-10 columns">
		<div class="row">
			<div class="small-8 columns">
				<h6><span class="user-name"></span><small><span class="user-screen-name"></span></small></h6>
			</div>
			<div class="small-4 columns">
				<h6><small><span class="date-span"></span></small></h6>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<span class="tweet-text"></span>
			</div>
		</div>
	</div>
</div>


  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/foundation.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/foundation/foundation.topbar.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
  <script src="js/esri-leaflet.js"></script>
  <script src="js/helpfunctions.js"></script>
  <script src="js/map.js"></script>
  <script type="text/javascript" src="data/denver.js"></script>
  <script type="text/javascript" src="data/paris.js"></script>
  <script type="text/javascript" src="data/ny1.js"></script>
  <script src="js/main.js"></script>

  <script>
    $(document).foundation();
  </script>


</body>
</html>
